<div class="container">
  <!-- Sidebar (Initially Visible, Only Show When Logged In) -->
  <aside *ngIf="(isLoggedIn$ | async) && isSidebarVisible" class="sidebar">
    <app-sidebar></app-sidebar>
  </aside>

  <div
    [class.ml-64]="(isLoggedIn$ | async) && isSidebarVisible"
    [class.ml-0]="!(isLoggedIn$ | async) || !isSidebarVisible"
    class="main-content transition-all duration-300"
  >
    <!-- Toggle Button (Fixed on the screen, Only Show When Logged In) -->
    <button
    *ngIf="isLoggedIn$ | async"
    (click)="toggleSidebar()"
    class="fixed top-4 left-4 bg-blue-500 text-white p-2 rounded-md shadow-lg z-50 flex items-center"
  >
    <mat-icon>{{ isSidebarVisible ? 'close' : 'menu' }}</mat-icon>
  </button>
  

    <!-- Header (Only Show When Logged In) -->
    <header *ngIf="isLoggedIn$ | async" class="header">
      <app-header></app-header>
    </header>

    <!-- Main Content (Dynamically changes using Router) -->
    <main class="main">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer (Only Show When Logged In) -->
    <footer *ngIf="isLoggedIn$ | async" class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>


