<div class="flex">
    <!-- Sidebar -->
    <div
      class="w-64 min-h-screen bg-gray-800 text-white pt-12 transition-all duration-300 ease-in-out"
    >

      <ul>
        <li routerLink="dashboard" class="py-2 px-3 hover:bg-gray-700 rounded">Dashbord</li>
        <li routerLink="products" class="py-2 px-3 hover:bg-gray-700 rounded">Products</li>
  
        <!-- Dropdown Menu -->
        <li class="py-2 px-3 relative">
          <button (click)="toggleDropdown()" class="w-full text-left">
            Stock Forms ⬇
          </button>
          <ul
            *ngIf="isDropdownOpen()"
            class="absolute left-0 mt-1 w-full bg-gray-700 rounded shadow-md"
          >
            <li routerLink="stockAllocationForm" class="py-2 px-3 hover:bg-gray-600">Stock Allocation</li>
            <li routerLink="stockTransferForm" class="py-2 px-3 hover:bg-gray-600">Stock Transfer</li>
            <li routerLink="stockRequestRaisedRequirementForm" class="py-2 px-3 hover:bg-gray-600">Stock Request Raised to Requirement</li>
          </ul>
        </li>
      </ul>
    </div>
  
   
  </div>
  